.idea/
.DS_Store

kinematics/ball-launch/cmake-build-debug/
kinematics/ball-launch/.idea/
kinematics/ball-launch/CMakeLists.txt


electricity-and-magnetism/electrostatic-force-calculator/cmake-build-debug/
electricity-and-magnetism/electrostatic-force-calculatorh/.idea/
electricity-and-magnetism/electrostatic-force-calculator/CMakeLists.txt